<launch>
	
	<group ns="turtlesim1">
		<node pkg="turtlesim" name="kurakura_1" type="turtlesim_node"/>
	</group>

	<group ns="turtlesim2">
		<node pkg="turtlesim" name="kurakura_2" type="turtlesim_node"/>
	</group>
	
	<node pkg="turtlesim" name="ab_kurakura_launch" type="mimic">
		<remap from="input" to="turtlesim1/turtle1"/>
		<remap from="input" to="turtlesim2/turtle2"/>
	</node>
	
</launch>
